a.txt
admin.txt
c_selected.txt
s_selected.txt
l_selected.txt
t_selected.txt
g_c_results.txt
g_s_results.txt
g_l_results.txt
g_t_results.txt
stats_gen_cult.txt
stats_gen_literature.txt
stats_gen_sports.txt
stats_gen_technical.txt
control_election.txt
g_cultural_vote.txt
g_literature_vote.txt
g_sports_vote.txt
g_technical_vote.txt

